/* General Resets */
* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
    background: var(--secondary-color);
    color: white;
}

/* Variables */
:root {
    --main-color: rgb(129, 139, 135);
    --secondary-color: rgb(52, 39, 4);
}

/* Typography */
ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 1.5rem;
    line-height: 1.5;
}

h2, h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-size: 2rem;
    line-height: 130%;
    padding: 1rem 0;
}

h3 {
    font-size: 1.3rem;
    line-height: 125%;
}

/* Font Face */
@font-face {
    font-family: "romantico";
    src: url("./assets/Romabntico\ Kustomtype.otf");
}

.logo h1 {
    margin-left: 0.5rem;
    font-family: "romantico", sans-serif;
}

/* Layout */
.wrapper {
    overflow: hidden;
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.start {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

.links {
    position: absolute;
    background: white;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
}

.links a {
    color: var(--secondary-color);
    font-size: 2rem;
}

section {
    padding: 5%;
}

.front-page {
    min-height: 100vh;
    background: rgb(163, 167, 163);
    position: relative;
    z-index: 1;
}

/* Images */
.par1img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 1rem;
}

nav svg {
    cursor: pointer;
    z-index: 10;
}

.navruz, .bkrnd {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.navruz {
    filter: brightness(40%);
}

.bkrnd {
    filter: brightness(20%);
}

/* Buttons */
.calltoas button {
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    cursor: pointer;
    border-radius: 1.5rem;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.21);
    margin: 1.5rem;
}

.cta-main {
    background-color: var(--main-color);
    color: var(--secondary-color);
}

.cta-main:hover {
    background-color: rgb(162, 206, 206);
    transition: background-color 0.4s ease-in-out;
}

.cta-sec {
    background-color: var(--secondary-color);
    color: white;
}

.cta-sec:hover {
    background-color: rgb(102, 76, 6);
    transition: background-color 0.4s ease-in-out;
}

/* Components */
.some-info {
    margin-top: 35vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 1);
    text-align: center;
}

.calltoas {
    text-align: center;
    margin-top: 2rem;
}

.content {
    position: relative;
    z-index: 1;
}

.about {
    color: white;
}

.about h2 {
    text-decoration-line: overline;
    font-family: Georgia, serif;
    text-align: center;
}

.about p {
    line-height: 150%;
    font-size: 1.3rem;
    margin-top: 0.5rem;
}

.about img {
    width: 100%;
    border-radius: 1rem;
    margin-top: 2rem;
}

.celebration img {
    width: 100%;
    border-radius: 1rem;
    margin-top: 2rem;
    transition: filter 0.4s ease-in-out;
}

.celebration img:hover {
    filter: brightness(150%);
}

/* Media Queries */
@media screen and (min-width: 768px) {
    body {
        padding: 10%;
    }

    .about {
        display: flex;
        gap: 5rem;
        justify-content: space-between;
    }

    .about img {
        width: 50%;
    }

    .about h2 {
        text-align: start;
    }
}

footer {
    background-color: rgb(38, 28, 2);
    color: #fff;
    text-align: center;
    padding: 20px;
}

.rounded-box {
    background-color: rgb(38, 28, 2);
    padding: 10px;
    border-radius: 3rem;
    display: inline-block;
}
